.writingAnimation {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1em;
  .sign {
    width: 50%;
    height: 50%;
    margin: 1.5em;
    background: #bac3ce;
    border-radius: 50%;
    animation: writingAnimation 1.5s linear infinite;
    animation-delay: -1s;
  }
  .sign.two {
    animation-delay: -0.8s;
  }
  .sign.three {
    animation-delay: -0.6s;
  }
}

@keyframes writingAnimation {
  50% {
    transform: initial;
  }
  15% {
    transform: translateY(-15px);
  }
}

