.textAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
  div {
    width: 17vw;
    height: 12vh;
    background-color: mediumslateblue;
    border-radius: 25px 25px 0px 25px;
    .text {
      position: relative;
      margin: 0%;
      top: 50%;
      left: 10%;
      width: 15vw;
      border-right: 2px solid white;
      overflow: hidden;
      transform: translateY(-50%);
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      color: white;
      font-size: 150%;
      font-weight: bold;
      letter-spacing: 0.2vw;
      text-align: center;
    }

    .animation {
      animation: textAnimation 3s steps(13) 0.5s normal both,
        cursor 0.7s steps(13) 1s infinite normal;
    }

    @keyframes textAnimation {
      from {
        width: 0;
      }
      to {
        width: 14vw;
      }
    }
    @keyframes cursor {
      from {
        border-right-color: white;
      }
      to {
        border-right-color: transparent;
      }
    }
  }
  div:hover {
    .animation:hover {
      animation: textAnimation 3s steps(13) 0.5s normal paused,
        cursor 0.7s steps(13) 1s infinite normal;
      animation-iteration-count: infinite;
    }
    .animation {
      animation: textAnimation 3s steps(13) 0.5s normal running,
        cursor 0.7s steps(13) 1s infinite normal;
      animation-iteration-count: infinite;
    }
  }
}
@media all and (max-width: 420px) {
  .textAnimation {
    div {
      width: 50vw;
      .text {
        left: 5%;
        width: 44vw;
        font-size: 100%;
      }

      @keyframes textAnimation {
        from {
          width: 0;
        }
        to {
          min-width: 40vw;
        }
      }
    }
  }
}
@media (max-width: 768px) and (min-width: 420px) {
  .textAnimation {
    div {
      width: 40vw;
      .text {
        left: 10%;
        width: 30vw;

        font-size: 110%;
      }
      @keyframes textAnimation {
        from {
          width: 0;
        }
        to {
          width: 33vw;
        }
      }
    }
  }
}

@media (max-width: 960px) and (min-width: 768px) {
  .textAnimation {
    div {
      width: 30vw;
      .text {
        left: 15%;
        width: 23vw;
        font-size: 130%;
      }
      @keyframes textAnimation {
        from {
          width: 0;
        }
        to {
          width: 23vw;
        }
      }
    }
  }
}

@media (max-width: 1200px) and (min-width: 960px) {
  .textAnimation {
    div {
      width: 20vw;
      .text {
        left: 7%;
        width: 17vw;
        font-size: 120%;
      }
      @keyframes textAnimation {
        from {
          width: 0;
        }
        to {
          width: 17vw;
        }
      }
    }
  }
}
@media (max-width: 1500px) and (min-width: 1200px) {
  .textAnimation {
    div {
      width: 20vw;
      .text {
        left: 10%;
        width: 16vw;
        font-size: 130%;
      }
      @keyframes textAnimation {
        from {
          width: 0;
        }
        to {
          width: 16vw;
        }
      }
    }
  }
}
