$widthChange: 100%;
.textAnimation {
  display: grid;
  place-items: center;
  width: 90%;
  max-height: 90%;
  font-size: 100%;
  div {
    display: grid;
    place-items: center;
    width: 100%;
    max-height: 100%;
    aspect-ratio: 2.7 / 1;
    background-color: mediumslateblue;
    border-radius: 1.25em 1.25em 0 1.25em;

    .text {
      border-right: 2px solid white;
      overflow: hidden;
      font-family: monospace;
      color: white;
      font-weight: bold;
      letter-spacing: 0.1em;
      text-align: center;
    }

    .animation {
      word-wrap: normal;
      -moz-animation: textAnimation 3s steps(13) 0.5s normal both,
        cursor 0.7s steps(13) 1s infinite normal;
      animation: textAnimation 3s steps(13) 0.5s normal both,
        cursor 0.7s steps(13) 1s infinite normal;
    }

    @keyframes textAnimation {
      from {
        width: 0;
      }
      to {
        width: var(--widthChange);
      }
    }

    @keyframes cursor {
      from {
        border-right-color: white;
      }
      to {
        border-right-color: transparent;
      }
    }
  }
  div:hover {
    .animation:hover {
      -moz-animation: textAnimationHover 3s steps(13) 0.5s normal paused,
        cursor 0.7s steps(13) 1s infinite normal;
      animation: textAnimationHover 3s steps(13) 0.5s normal paused,
        cursor 0.7s steps(13) 1s infinite normal;
      animation-iteration-count: infinite;
    }
    .animation {
      -moz-animation: textAnimationHover 3s steps(13) 0.5s normal running,
        cursor 0.7s steps(13) 1s infinite normal;
      animation: textAnimationHover 3s steps(13) 0.5s normal running,
        cursor 0.7s steps(13) 1s infinite normal;
      animation-iteration-count: infinite;
    }
  }
  @keyframes textAnimationHover {
    from {
      width: 0;
    }
    to {
      width: var(--widthChange);
    }
  }
}
